@model Jogador

<link rel="stylesheet" href="~/css/jogadores.css">

@{
    ViewData["Title"] = "Jogador";
}

@if (ViewBag.UserName == null)
{
    <a asp-area="" asp-controller="Login" asp-action="Index">
        Login
    </a>
}
else
{
    <main>

        <section class="container-grid cadastro-equipes">


            <form method="post" action='@Url.Action("Cadastrar")' class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" id="equipe-select">
                    <option value="0">Selecione uma Equipe</option>
                    @foreach (Equipe e in ViewBag.Equipe)
                    {
                        <option value="@e.IdEquipe">@e.Nome</option>
                    }
                </select>

                <input class="campo-entrada" type="text" placeholder="Digite o nome do jogador:" name="Nome" required>
                <input class="campo-entrada" type="email" placeholder="Digite o E-mail:" name="Email" required>
                <input class="campo-entrada" type="password" placeholder="Senha" name="Senha" required>
                <button type="submit">Cadastrar</button>

            </form>


            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>&spades;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome"
                                    width="50px">
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">
                                    <img class="yellow-trash" src="~/assets/trash.png" alt="">
                                </a>
                                <a asp-area="" asp-controller="Jogador" asp-action="Editar"
                                    asp-route-id="@jogador.IdJogador"><img class="green-play" src="~/assets/edit.svg" alt="">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
}

